[Unit]
Description=Apply clevo-xsm-wmi configuration

[Service]
Type=oneshot
ExecStart=/usr/bin/clevo-xsm-wmi -r
ExecStop=/usr/bin/clevo-xsm-wmi -s
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
